.sidebar {
    background-color: #1C5EC2;
    height: 100vh;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
}

.sidebar-title {
    font-size: 1.2rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 10px;
}

.sidebar-list {
    margin-top: 40px;
    list-style: none;
    line-height: 24px;
}

.sidebar-item {
    margin-top: 50px;
    font-size: 1.1rem;
}

.sidebar-link {
    color: #FFFFFF
}

.sidebar-title:hover, .sidebar-link:hover {
    color: white;
}

.dashboard-content {
    margin: 20px;
}


.content-title {
    font-size: 2rem;
    margin-bottom: 20px;
}


.profil-img {
    width: 100%;
    border-radius: 50%;
    height: 300px;
    background-color: #D8D8D8;
}

.profil-name {
    font-family: 'Rockwell';
    font-size: 2.4rem;
    font-weight: 600
}

.profil-type {
    text-transform: uppercase;
    font-family: 'Sylfaen';
    margin-top: -10px;
    font-size: 1.25rem;
    color: #5BA8E4;
    margin-bottom: 20px
}
.profil-email {
    font-family: 'Sylfaen';
    margin-top: -10px;
    font-size: 1.25rem;
    color: #5BA8E4;
    margin-bottom: 20px
}

.profil-description {
    font-size: 1rem;
    color: #5D5D5D;
    line-height: 2;
}

.number {
    font-size: 1.75rem
}

.subtitle {
    color: #5D5D5D;
}

.icon-edit:hover {
    color: #ffc107;
}

.icon-action {
    font-size: 1.5rem
}

.icon-action .detail:hover {
    color: #0056b3;
}

.icon-action .edit:hover {
    color: #ffc107;
}

.icon-action .supp:hover {
    color: #dc3545;
}


.icon-action .check:hover {
    color: #09a54a;
}

.show-title {
    font-size: 2rem;
    font-family: 'Rockwell';
}

.show-title-second {
    font-size: 2.5rem;
    font-family: 'Rockwell';
    font-weight: 500;
}

.show-subtile {
    color: #524f4f;
    font-size: 2rem
}



.show-detail {
    font-size: 1.5rem;
    color: #524f4f;
   
}

.souligne
{
    text-decoration: underline;
}

.closer
{   
    margin-left:-300px;
}

.padding
{
    padding-left:3%;
    padding-right:3%;
}

.padding-right{
    padding-left:70%;
    
}

.padding-left
{
    padding-left:0%;
}

.padding-block
{
    padding-left:2%;
    padding-right:2%;
    padding-top:1%;
}


.padding-top
{
    
    padding-top:1%;
}

.padding-bottom
{
    
    padding-bottom:1%;
}

.padding-top-second{
    padding-top:3%;
}

.descript{
    text-align: justify;
    width: 70%;

}
.descript ol 
{
    padding-left:3%;
  
}

.descript ul
{
    padding-left:3%;
  
}
.descript li
{
    padding-top:1%;
  
}

.size{
    font-size: 2rem;
}