
.padding-block-second
{
    padding-top:3%;
 
 
    
  
}
.img-paie {
    width: 100px;
 
}
.img-paie-second {
    
    height: 60px;
}
.btn-custum-warnig
{
    background-color:#ffc107;
    color: white;
    border-radius: 6px;
    border-color: #ffc107;
}
.btn-custum-warnig:hover
{
    background-color:#ffc107;
    color:white;
    border-radius: 6px;
    border-color: #ffc107;
}







 
   